*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  text-transform: capitalize;
}
nav{
  background: #181B22;
  height: 60px;
  width: 100%;
}
label.logo{
  color: #FFAA00;
  font-size: 35px;
  line-height: 60px;
  padding: 0 20px;
  font-weight: bold;
  float: left;
}
nav ul{
  float: left;
  margin-right: 20px;
}
nav ul li{
  position: relative;
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 14px;
  padding: 7px 5px;
  border-radius: 3px;
}
/* Drop down css */
nav ul li ul{
  left: 0px;
  width:210px;
  position: absolute;
  display: block;
  background:#181B22 ;
  opacity: 0;
  color: white;
  visibility: hidden;
  transition: .3s;
}
nav ul li    ul li{
   display: block;
   line-height: 20px;
   padding: 10px;
   border-bottom: .5px solid rgb(168, 162, 162);
}
nav ul li:hover  ul{
  left: 40px;
  opacity: .6;
  visibility: visible;
}


a.active,a:hover{
  text-decoration: none;
  color: white;
  background: #464A51;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: left;
    padding-left: 30px;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .Gbtn{
    text-align: left;
  }
}

.Gbtn{
  line-height: 60px;
  float: right;
  margin-right: 50px;
}